

<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-3">
            <h1>subtract Number</h1>
            <div class="mb-3">
                <input type="text" class="form-control" [(ngModel)]="num1">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" [(ngModel)]="num2">
            </div>

        </div>
        <div class="mb-3">
            <button class="btn btn-info" (click)="smartsub()">sub</button>
        </div>
        <div class="mb-3">
            result={{result}}
        </div>
        <div class="col-3">

        </div>
    </div>
    
    
</div>