<p>cube works!</p>
<p>add works!</p>
<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-3">
            <h1>Add Number</h1>
            <div class="mb-3">
                <input type="text" class="form-control" #num>
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" #num>
            </div>

        </div>
        <div class="mb-3">
            <button class="btn btn-info" (click)="findCube(num)">Cube</button>
        </div>
        <div class="mb-3">
            cube={{cub}}
            
        </div>
        <div class="col-3"></div>
    </div>
    
    
</div>